<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorMediatorForce</key>
	<string>compositionalEventDensity</string>
	<key>cellAtStyle</key>
	<string>signatureForActivity</string>
	<key>intermediateHashDistance</key>
	<string>scrollBufferType</string>
	<key>rowShapeFrequency</key>
	<string>entityPatternSkewx</string>
	<key>smartStoryboardBottom</key>
	<string>appbarAboutFunction</string>
</dict>
</plist>
