<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveKindTail</key>
	<string>currentRouterDuration</string>
	<key>fusedResolverIndex</key>
	<string>gridInterpreterInterval</string>
	<key>providerThroughCommand</key>
	<string>customSpriteTail</string>
	<key>resilientStepShade</key>
	<string>resolverAdapterCount</string>
	<key>resizableThreadHead</key>
	<string>customizedAlphaMode</string>
	<key>subscriptionFrameworkKind</key>
	<string>constraintObserverRight</string>
	<key>temporaryRequestHead</key>
	<string>cardInterpreterInteraction</string>
	<key>textureFlyweightSpeed</key>
	<string>heapOperationFlags</string>
</dict>
</plist>
