<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSessionRight</key>
	<string>exceptionOrTemple</string>
	<key>cycleViaStrategy</key>
	<string>labelParameterSaturation</string>
	<key>displayableBuilderScale</key>
	<string>getxPhaseOffset</string>
	<key>subscriptionTypePressure</key>
	<string>delegateOperationMomentum</string>
</dict>
</plist>
