<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistInsideVar</key>
	<string>memberContextOrigin</string>
	<key>constraintLikeMediator</key>
	<string>rowNumberInset</string>
	<key>draggableInkwellTint</key>
	<string>retainedAssetCenter</string>
	<key>expandedNumberVelocity</key>
	<string>commonVectorHue</string>
	<key>localizationStageTop</key>
	<string>invisibleRowPressure</string>
	<key>memberStrategySize</key>
	<string>autoCollectionCenter</string>
	<key>oldIntegerSaturation</key>
	<string>gradientLayerVisibility</string>
	<key>pinchableDurationScale</key>
	<string>allocatorStageFrequency</string>
	<key>screenExceptVar</key>
	<string>pinchableCursorTension</string>
	<key>smallSubscriptionOrientation</key>
	<string>descriptorBridgeVisible</string>
</dict>
</plist>
