<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAsProcess</key>
	<string>textPrototypeOrigin</string>
	<key>cosineStyleTheme</key>
	<string>backwardCosineKind</string>
	<key>finalMapLocation</key>
	<string>utilDespiteTask</string>
	<key>hierarchicalFragmentRotation</key>
	<string>asyncSkinTransparency</string>
	<key>optimizerFromMethod</key>
	<string>robustAsyncRate</string>
	<key>resizableManagerTag</key>
	<string>exponentThanValue</string>
	<key>unaryThroughMethod</key>
	<string>widgetFlyweightOrigin</string>
</dict>
</plist>
