<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentOperationBorder</key>
	<string>hyperbolicCommandBrightness</string>
	<key>frameBesideMediator</key>
	<string>stateNearBridge</string>
	<key>indicatorThroughKind</key>
	<string>persistentRequestContrast</string>
	<key>listviewOutsideMemento</key>
	<string>statefulParamStatus</string>
	<key>primaryApertureEdge</key>
	<string>checkboxFlyweightStyle</string>
	<key>singletonInsideMemento</key>
	<string>richtextProcessDirection</string>
</dict>
</plist>
