<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCanvasLeft</key>
	<string>listviewShapeSize</string>
	<key>gemChainSpeed</key>
	<string>contractionKindScale</string>
	<key>promiseAwayProcess</key>
	<string>listviewCompositeSkewy</string>
	<key>queueStyleAlignment</key>
	<string>riverpodWorkTop</string>
	<key>responseVariableDistance</key>
	<string>statelessMarginName</string>
	<key>semanticsBridgeScale</key>
	<string>publicGridBorder</string>
	<key>sliderParameterTag</key>
	<string>marginWithoutComposite</string>
	<key>tappableMediaName</key>
	<string>navigatorExceptObserver</string>
	<key>transformerVariableOffset</key>
	<string>customNormBound</string>
	<key>variantCommandColor</key>
	<string>gramStyleBorder</string>
</dict>
</plist>
