<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAsStrategy</key>
	<string>notificationTypeTheme</string>
	<key>cursorInterpreterVisibility</key>
	<string>anchorFacadeOffset</string>
	<key>dependencyShapeRate</key>
	<string>notificationShapeState</string>
	<key>expandedAtParameter</key>
	<string>hashWithoutShape</string>
	<key>intensityAndMediator</key>
	<string>denseCanvasCenter</string>
	<key>intensityWithKind</key>
	<string>modelAroundFacade</string>
	<key>lastProjectDistance</key>
	<string>storageBufferContrast</string>
	<key>optimizerWithoutTier</key>
	<string>methodPlatformBrightness</string>
	<key>transformerAsBridge</key>
	<string>listenerWithoutActivity</string>
</dict>
</plist>
