<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAndObserver</key>
	<string>commandChainDuration</string>
	<key>eventFacadeResponse</key>
	<string>nativeBuilderSize</string>
	<key>previewFunctionRate</key>
	<string>mobileMarginForce</string>
	<key>synchronousPreviewStatus</key>
	<string>sceneAndNumber</string>
	<key>titleValueTransparency</key>
	<string>concurrentMomentumTransparency</string>
	<key>unsortedResponseDensity</key>
	<string>sizedboxAlongStage</string>
</dict>
</plist>
