<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleEventTop</key>
	<string>managerBridgeColor</string>
	<key>axisMementoCount</key>
	<string>pinchableTableScale</string>
	<key>callbackOrTier</key>
	<string>unactivatedLocalizationSize</string>
	<key>durationEnvironmentDepth</key>
	<string>draggableCustompaintBrightness</string>
	<key>invisibleBuilderContrast</key>
	<string>mediumTopicTint</string>
	<key>lostChannelPosition</key>
	<string>touchCycleInteraction</string>
	<key>relationalDialogsLeft</key>
	<string>aspectratioByState</string>
	<key>stackActivityFrequency</key>
	<string>cardSystemLocation</string>
	<key>symmetricFlexOrientation</key>
	<string>taskAtWork</string>
</dict>
</plist>
