<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsAdapter</key>
	<string>tabbarCommandBehavior</string>
	<key>buttonContainValue</key>
	<string>fixedGroupType</string>
	<key>cellOrWork</key>
	<string>momentumMediatorForce</string>
	<key>listviewAndChain</key>
	<string>constraintAlongShape</string>
	<key>sceneIncludeLayer</key>
	<string>concreteCharacterCoord</string>
	<key>scrollContextShape</key>
	<string>layerStateBrightness</string>
	<key>sizeForVariable</key>
	<string>intensitySingletonFormat</string>
	<key>storeDespiteTier</key>
	<string>methodPerVariable</string>
	<key>subsequentSubscriptionColor</key>
	<string>hashLikeLayer</string>
	<key>titleVisitorOffset</key>
	<string>menuPrototypeOffset</string>
</dict>
</plist>
