<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAsParam</key>
	<string>offsetThroughComposite</string>
	<key>composableLoopOffset</key>
	<string>taskWithoutShape</string>
	<key>finalInteractorSaturation</key>
	<string>resolverValueHead</string>
	<key>gramAtTemple</key>
	<string>offsetFromStage</string>
	<key>particleBeyondForm</key>
	<string>notificationByFacade</string>
	<key>presenterStructureFlags</key>
	<string>buttonProcessTint</string>
	<key>screenThroughCycle</key>
	<string>cubitViaEnvironment</string>
</dict>
</plist>
