<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisBeyondTask</key>
	<string>dialogsFrameworkSaturation</string>
	<key>chartAmongAction</key>
	<string>precisionOrSingleton</string>
	<key>extensionFunctionOpacity</key>
	<string>callbackTempleSkewy</string>
	<key>ignoredProgressbarStatus</key>
	<string>responsiveProviderHue</string>
	<key>integerOutsideForm</key>
	<string>sharedLayoutPosition</string>
	<key>marginTempleShade</key>
	<string>frameThroughMode</string>
	<key>sceneWithLevel</key>
	<string>subscriptionVarRight</string>
	<key>usageProxyTop</key>
	<string>gridLevelAcceleration</string>
</dict>
</plist>
