<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionWithoutStyle</key>
	<string>errorCycleRotation</string>
	<key>normalReferenceSpeed</key>
	<string>bufferBesideTemple</string>
	<key>popupSinceContext</key>
	<string>ternaryFromForm</string>
	<key>textAwayMediator</key>
	<string>metadataForObserver</string>
</dict>
</plist>
