<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureCommandTag</key>
	<string>lastRouterTop</string>
	<key>coordinatorViaSystem</key>
	<string>featureAmongEnvironment</string>
	<key>handlerNumberRotation</key>
	<string>staticContainerType</string>
	<key>mutableResultSkewy</key>
	<string>relationalTransformerMomentum</string>
	<key>observerBesideSystem</key>
	<string>labelUntilVariable</string>
	<key>specifyNibColor</key>
	<string>priorityFromContext</string>
	<key>stepPhaseShade</key>
	<string>immutableTextfieldOrigin</string>
</dict>
</plist>
